<div class = "about" id = 'top'>
  <div id="resume-content">
                <div style="position: relative; height: 50px;">
                  <h2 class="title">Resume</h2>
                  <div class = "downloadButton"><a class = "downloadLink" href = "YIJUN_ZHOU_CV_2017.pdf">PDF Download</a></div>
                </div>
                <div class="loc">
                  <div id="resume-left">
                    <h3 class="title">Education</h3>
                    <div class="resume-unit">
                      <span class="name">Stanford University</span>
                      <span class="loc-date">Stanford, CA | 09/2016 - 06/2018(EXPECTED)</span>
                      <ul class="list-description">
                        <li>Master of Arts in Music, Science, and Technology, <i>GPA: 3.94</i></li>
                      </ul>
                    </div>
                    <div class="resume-unit">
                      <span class="name">Beijing University of Posts and Telecommunications</span>
                      <span class="loc-date">Beijing, China | 09/2012 - 06/2016</span>
                    
                      <ul class="list-description">
                        <li>Bachelor of Engineering in Computer Science and Technology, <i>GPA: 3.75</i></li>
                      </ul>
                    </div>



                    <h3 class="title">Publications & Papers</h3>
                     <div class="resume-unit">
                      <span class="name">"Guided Deep Breathing for Automobile Commuters"</span>
                      <span class="loc-date">IMWUT 2017(Submitted)</span>
                      <div class="author"><i>Pablo Paredes, <b>Yijun Zhou</b>, Nur Al-huda Hamdan, Stephanie Balters, Wendy Ju, James Landay</i>
                      </div>
                    </div>

                    <div class="resume-unit">
                      <span class="name">"Towards Robust Tracking with an Unreliable Motion Sensor Using Machine Learning"</span>
                      <span class="loc-date">NIME 2017</span>
                      <div class="author">
                        <i>Jiayue Wu, <b>Yijun Zhou</b>, Yun Zhang, Mark Rau, Matt Wright</i>
                      </div>
                    </div>

                     <div class="resume-unit">
                      <span class="name">"Embodied Sonic Meditation: a multimedia framework for audio-visual contemplation"</span>
                      <span class="loc-date">ICMC 2017</span>
                      <div class="author">
                        <i>Jiayue Wu, Julius O. Smith, <b>Yijun Zhou</b>, Matt Wright</i>
                      </div>
                    </div>

                    
                    <h3>Academic Experience & Projects</h3>
                    <div class="resume-unit">
                      <span class="name">Vehicle 3D Interactive Sound System Design and Implementation - </span><span class="subname"><a href="project-682.php">Hovering Kanariya</a></span>
                      <span class="loc-date"> 05/2017 - Present</span>
                      <ul class="list-description">
                        <li>Design and implement a 3D sound system in the car and map the car motions to the sound effects</li>
                        <li>Conduct user experience research on the passengers' emotional reaction to the entertainment aspect of the 3D interactive sound system and awareness level of autonomous cars motions</li>  
                      </ul>
                    </div>

                    <div class="resume-unit">
                      <span class="name">Human Related Haptic Interaction Design and Experiment - </span><span class="subname"><a href="project-682.php">Deep Drive</a></span>
                      <span class="loc-date"> 11/2016 - 08/2017</span>
                      <ul class="list-description">
                        <li>Designed and implemented the haptic and sound system of the deep breath guidance system</li>
                        <li>Conducted human related experiments and did research on the effect of deep breath on drivers fatigue and stress in both manual and autonomous conditions</li>
                        <li>Compiled and finalized the qualitative and quantitative evaluation of the feedback from participants</li>
                        
                      </ul>
                    </div>

                    <div class="resume-unit">
                        <span class="name">Augmented Reality Educational Game Design and Implementation - </span><span class="subname"><a href="project-682.php">PiARno</a></span>
                        <span class="loc-date"> 04/2017 - 07/2017</span>
                        <ul class="list-description">
                          <li>Designed the theme, mechanisms, interaction interface of an piano educational game in interactive Augmented Reality</li>
                          <li>Implemented the full-stack of the AR game, including mechanism implementation, 3D object detection, hand position detection, gesture detection, networking, and Hololens integrating</li>
                          <li>Conducted usability testing, including heuristic evaluation, qualitative surveys and in-person user observations</li>
                        </ul>
                    </div>

                    <div class="resume-unit">
                        <span class="name">Machine Learning Solution to Mixed Reality Hardware Unreliability - </span><span class="subname"><a href="#/Portfolio/Resonance-of-The-Heart">Resonance of the Heart</a></span>
                        <span class="loc-date"> 10/2016 - 04/2017</span>
                        <ul class="list-description">
                          <li>Designed customized machine learning algorithms for Leap Motion, to predict the hands’ trajectories when they are out of the sensing range, and to classify overlapping hand gestures in real time, with minimum errors</li>
                          <li>Designed the Mapping of hand motions to continuously real-time vocal processing</li>

                        </ul>
                    </div>

                    <div class="resume-unit">
                        <span class="name">Voice-Controlled Virtual Reality Game Design and Implementation - </span><span class="subname"><a href="project-682.php">ARGH! PPAP</a></span>
                        <span class="loc-date"> 01/2017 - 04/2017</span>
                        <ul class="list-description">
                          <li>Designed the interactive interface and the audio part of an voice-controlled FPS game in Virtual Reality</li>
                          <li>Implemented the core parts of the VR game, including spoken word detection, volume detection, integrating VR, and audio features</li>
                          <li>Conducted usability testing, including heuristic evaluation, qualitative surveys and in-person user observations</li>
                        </ul>
                    </div>

                    <div class="resume-unit">
                        <span class="name">Pervasive Interaction Design - </span><span class="subname"><a href="project-682.php">HiFive</a></span>
                        <span class="loc-date"> 09/2016 - 12/2016</span>
                        <ul class="list-description">
                          <li>Started from needfinding to low-fidelity, med-fidelity, hi-fidelity, video and final interactive prototypes(mobile Android App) to facilitate more face-to-face interaction among the digitally isolated and encourage teamwork in struggle socially people</li>
                        <li>Conducted user experience research using storyboarding, interviews and rapid prototyping to identify and finalize scenarios</li>
                        </ul>
                    </div>

                    <div class="resume-unit">
                        <span class="name">Online-Education-System Design and Development</span>
                        <span class="loc-date"> 02/2016 - 06/2016</span>
                        <ul class="list-description">
                          <li>Designed and implemented the front-end and back-end of the online-education-system with live streaming and video on demand features integrated</li>
                          <li>Conducted usability testing and system reliability testing</li>
                        </ul>
                    </div>

                    <div class="resume-unit">
                        <span class="name">Brand New Network Architecture Kernel Algorithm Design and Implementation - </span><span class="subname"><a href="https://www.cs.cmu.edu/~xia">XIA</a></span>
                        <span class="loc-date"> 01/2016 - 04/2016</span>
                        <ul class="list-description">
                          <li>Implemented hashing algorithms to improve the inquiry performance of the network architecture by 16%</li>
                          <li>Did experiments with different parameters to optimize the efficiency of the algorithm</li>
                        </ul>
                    </div>

                    <div class="resume-unit">
                        <span class="name">Global-Scale Internet Drum Circle System Design and Implementation - </span><span class="subname"><a href="project-682.php">GNODC</a></span>
                        <span class="loc-date"> 07/2015 - 04/2016</span>
                        <ul class="list-description">
                          <li>Designed the system of an Internet Drum Circle that allowed musicians to participate in collaborative music making on the Internet</li>
                          <li>Solved the problem of network delay by sending drum beats in the tight real time music performance</li>
                          <li>Coded the Drum Server in Python to achieve the control and coordination among drum players
                          </li>
                        </ul>
                    </div>




                  

                    <h3>Professional Experience</h3>
                    <div class="resume-unit">
                      <span class="company-name">Palazzo Altemps Museum</span>
                      <span class="job-title">Mobile Application Designer & Developer</span>
                      <span class="loc-date">Rome, Italy | 03/2017 - Present</span>
                      <ul class="list-description">
                        <li>Design and develop <a href="project-plainmed.php">TourInPalazzo</a>, a multi-platform App that offers a musical and architectural tour of the museum, which is widely used public service, from wireframe to final implementation</li>
                        <li>Iterate with researchers, curators and users on the APP design and conduct usability testing</li>
                      </ul>
                    </div>

                    <div class="resume-unit">
                      <span class="company-name">Hearst Overseas-Study Affairs Service Agency</span>
                      <span class="job-title">Cofounder & Counselor</span>
                      <span class="loc-date">Beijing, China | 04/2016 - Present</span>
                      <ul class="list-description">
                        <li>Establish strategic goals by gathering pertinent business, financial, service, and operations information; identify and evaluate trends and options</li>
                        <li>Prepare daily workloads for staff and co-ordinate the daily allocation of work; mentor and train up juniors and new staffs</li>
                        <li>Plan and implement a US University learning campaign to ensure the successful business between our customers</li>
                      </ul>
                    </div>

                    <div class="resume-unit">
                      <span class="company-name">Oracle Solution Center</span>
                      <span class="job-title">User Experience Designer & Developer Intern</span>
                      <span class="loc-date">Beijing, China | 09/2015 - 03/2016</span>
                    
                      <ul class="list-description">
                        <li>Identified specific solutions to satisfy the requirements of our educational institute partner</li>
                        <li>Developed and presented our formulated solutions; developed a multi-tenancy Learning Management System (LMS) on the basis of Canvas, an open source project</li>
                        <li>Iterated with our partner with the design of the system and implemented an LMS that is effective and suitable for a Chinese custom environment</li>
                      </ul>
                    </div>

                    <div class="resume-unit">
                      <span class="company-name">ZTE Technology Co., Ltd.</span>
                      <span class="job-title">Student Intern</span>
                      <span class="loc-date">Beijing, China | 07/2015</span>
                    
                      <ul class="list-description">
                        <li>Assisted engineers with testing network equipment and recorded results, including: TD-LTE Test, EPON Test, NGN Test, and SDH Test</li>
                      </ul>
                    </div>

                    
                    
                  </div>
                  <div id="resume-right">
                    <h3 class="title">Skills</h3>
                    <h4><b>UX Research & Design Methods</b></h4>
                    <ul class="resume-skill-list">
                      <li>Needfinding</li>
                      <li>Contextual Design</li>
                      <li>Interaction Design</li>
                      <li>Graphic Design</li>
                      <li>Storytelling Design</li>
                      <li>Rapid Prototyping</li>
                      <li>Sketching & Experience Prototyping</li>
                      <li>Concept Video</li>
                      <li>Conceptual Model</li>
                      <li>Survey & Statistical Analysis</li>
                      <li>Heuristic Evaluation</li>
                      <li>Usability Testing</li>
                      <li>Vision & Cognition Design</li>
                    </ul>
                    <h4><b>Framework & Software</b></h4>
                    <ul class="resume-skill-list">
                      <li>MEAN Stack</li>
                      <li>React Native</li>
                      <li>Ruby on Rail</li>
                      <li>Android Studio</li>
                      <li>Expo XDE</li>
                      <li>XCode</li>
                      <li>Qt Creator</li>
                      <li>Eclipse IDE</li>
                      <li>Unity</li>
                      <li>threeJS</li>
                      <li>Arduino</li>
                      <li>Hololens Development</li>
                      <li>Oculus Development</li>
                      <li>LeapMotion Development</li>                                            
                      <li>Adobe Photoshop</li>
                      <li>Microsoft Office</li>
                      <li>Microsoft Visio</li>
                      <li>miniAudicle</li>
                      <li>GarageBand</li>
                      <li>iMovie</li>
                      <li>Sketch</li>
                      <li>Matlab</li>
                      <li>Latex</li>
                    </ul>
                    <h4><b>Programming</b></h4>
                    <ul class="resume-skill-list">
                      <li>JavaScript</li>
                      <li>HTML</li>
                      <li>CSS</li>
                      <li>C#</li>
                      <li>C++</li>
                      <li>C</li>
                      <li>Python</li>
                      <li>Java</li>
                      <li>Chuck</li>
                      <li>PHP</li>
                      <li>Ruby</li>
                      <li>Swift</li>
                      <li>SQL</li>
                      <li>VHDL</li>
                    </ul>
                    <h4><b>Languages</b></h4>
                    <ul class="resume-skill-list">
                      <li>English</li>
                      <li>Mandarin Chinese</li>
                      <li>Japanese</li>
                    </ul>
                    <h3><b>Relevant Courses</b></h3>
                    <ul class="resume-skill-list">
                      <li>Human Computer Interaction Design</li>
                      <li>Virtual Reality</li>
                      <li>Music Computing Design</li>
                      <li>Neuroplasticity and Muscial Gaming</li>                      
                      <li>Web Application</li>
                      <li>Interactive Computer Graphic</li>
                      <li>Machine Learning</li>
                      <li>Artificial Intelligence</li>
                      <li>Deep Learning Music and Audio</li>
                    </ul>
                  </div>
                </div>
                
              
              </div>
            

</div>