<div ng-click="goBack()" class = "goBackButton"> <i class="fa fa-arrow-left" style=""></i> See More Projects</div>
<div class = "projectContent">
<div class = "projectTitle">ARGH! PPAP</div>
<div class = "projectSubtitle">A Voice-Control Virtual Reality Game</div>

<div class = "projectParagraph">ARGH! PPAP! is a first-person-shooter VR game that is controlled by the player using simple audio input through the microphone. The player would be placed in a wondrous world where there are myriad fruits of three kinds floating in the air: apple, pineapple, and orange. The goal of the player is to control the character direction to aim
and shoot pens at the correct fruits.
</div>
<div class = "projectSectitle">Motivation</div>
<div class = "projectSubsectitle" style = "text-align: justify;">Tired of keyboard input game.</div>
<div class = "projectParagraph">In the first prototype, ARGH! PPAP! is a shooting game that is controlled by the direct keyboard input, which is old-fashioned and tedious. I want a new way to play the game! Maybe voice is a good choice?</div>
<div class = "projectSubsectitle" style = "text-align: justify;">PC game is not immersive.</div>
<div class = "projectParagraph">Get enough of looking around by pressing "WASD"? Why not try the VR headset?</div>
<div class = "projectSubsectitle" style = "text-align: justify;">PPAP is a big hit!</div>
<div class = "projectParagraph">PPAP is a big hit by Piko Taro in 2017. Will it be chemistrty to integrate the game with the elements of this song?</div>

<div class = "projectSectitle">Gameplay</div>
<div class = "projectParagraph"><ul><li>Aim at the apple, pineapple, or orange, as these fruits are rewarding; try to avoid aiming at watermelon or papaya, as these fruits are unrewarding.</li> 
<li>Shoot a pen by shouting out "ARGH". You have to shout it out loud enough, and the higher pitch you are shouting, the faster the pen is.</li>
<li>Shoot an apple and followed by a pineapple, you will get an Area of Effect(AOE) pen.</li> 
<li>Fruits are fluctuating faster as the game goes on, which makes it harder.</li>
<li>ARGH! PPAP is a super self-explanatory game, check the demo video below.</li>
</ul>
</div>
<div class = "projectSectitle">Showcase</div>
<div class = "projectParagraph" style= "margin-bottom:10px;">Demo Video</div>
<video width="640" height="100%" controls>
    <source src="Video/PPAP.mp4" type="video/mp4">
</video>
<div class = "projectParagraph" style= "margin-top:10px; margin-bottom:10px;">Actually, the most amusing part of AARH! PPAP is what you hear when you are just a bystander.</div>
<video width="640" height="100%" controls>
    <source src="Video/PPAPL.mp4" type="video/mp4">
</video>

<div class = "projectSectitle">Code Download</div>
<a class = "paperLink" href = "YIJUN_ZHOU_CV_2017.pdf">AAGH! PPAP on Github</a>
</div>

<div class = "projectBottom"><br><br><br><br></div>
