<div ng-click="goBack()" class = "goBackButton"> <i class="fa fa-arrow-left" style=""></i> See More Projects</div>
<div class = "projectContent">
<div class = "projectTitle">ECG Jukebeat</div>
<div class = "projectSubtitle">Focus? Turn The Beat On!</div>

<div class = "projectParagraph">The goal of ECG Jukebeat is to improve your attention through a gaming method. The object of the game is to click all the squares when they come up randomly, and the squares are synced to the music. The higher the squares are, means the less attentitive you are. But when the squares are very low, it means you are super attentative, which also makes the game super hard. We found people(N = 6) achieved an average 17% higher score than the first time after five trials of the game, which means the game has a great improvement on the attention. Future research shall prove the improvement on general attention improvement.</div>

<div class = "projectSectitle">Showcase</div>
<div class = "projectParagraph">ECG Jukebeat Play Through<br><br></div>
<video width="640" height="360" controls>
    <source src="Video/EJPlayThrough.mp4" type="video/mp4">
</video>

<div class = "projectParagraph"><br><br>ECG Jukebeat Demo<br><br></div>
<video width="640" height="360" controls>
    <source src="Video/EJDemo.mp4" type="video/mp4">
</video>
</div>

<div class = "projectBottom"><br><br><br><br></div>
