<div ng-click="goBack()" class = "goBackButton"> <i class="fa fa-arrow-left" style=""></i> See More Projects</div>
<div class = "projectContent">
<div class="projectImageD" style = "width: 720px; height: 420px; background: url(Image/HFPitch.png); background-size: cover;  margin-top: 10px; margin-bottom: 10px;">
</div>

<div class = "projectParagraph">Many people who want to get out and make friends can’t bring themselves to do so, as they are too shy or socially awkward. They end up using the internet as a crutch, even though they would prefer to interact in person. We point these people to nearby projects (started by other people) that match their weirdest interests, because if you know that somebody nearby shares a rare interest or passion with you, you will want to talk to them no matter how shy you are.
</div>
<div class = "projectSectitle">Point of View (<a class = "paperLink" href = "HFPOV.pdf">file version</a>)</div>
<div class = "projectSubsectitle" style = "text-align: justify;">WE MET...</div>
<div class = "projectParagraph">Mekato, feels inferior, almost to the point of suicide. He spent almost his day life on chatting with others using social media instead of talking to others face to face.</div>
<div class = "projectSubsectitle" style = "text-align: justify;">WE ARE AMAZED TO REALIZE THAT...</div>
<div class = "projectParagraph">He desperately wants to interact with people in real life.</div>
<div class = "projectSubsectitle" style = "text-align: justify;">IT WOULD BE GAME-CHANGING IF...</div>
<div class = "projectParagraph">We could help Mekato talk to people in person, using VR & social media, even improve his self-esteem.<br> </div>

<div style = "width: 680px; height: 480px; background: url(Image/HFHMW.png); background-size: cover; margin-top: 10px; margin-bottom: 10px;">
	<div style = "position: relative; top: 440px; left: 440px; color: white;">"How Might We" Brainstorm</div>
</div>
<div class = "projectSectitle">Concept Video</div>
<div class = "projectSubsectitle">Tasks</div>
<div class = "projectParagraph"><ul><li>Simple: Make new friends</li> 
<li>Medium: Find a way to approach new companions</li>
<li>Complex: Find people with common interests/goals, and ward off their direct attention</li> 
</ul>
</div>
<div class = "projectSubsectitle">Storyboard</div>
<div class = "projectParagraph">
Find people with common interests/goals, and ward off their direct attention: Lonely person is forlornly looking at online pictures of people having a great time with friends. The person is summoned to join two people he has never met in person.
<br><br>
Find a way to approach new companions: App sets up game. Lonely person and friends all travel around campus, doing fun Mario-Party-esque challenges. After discovering their common interest (music), they play instruments together.
<br><br>
Make new friends: The three friends talk and laugh at a table. Two of them get up and start walking down a path into the sunset, and spontaneously start holding hands.
<br><br>
</div>
<video width="640" height="100%" controls>
    <source src="Video/HFConcept.mp4" type="video/mp4">
</video>

<div class = "projectSectitle">Low-Fi Prototype(<a class = "paperLink" href = "HFLowFi.pdf">file version</a>)</div>
<div class="projectImageD" style = "width: 540px; height: 600px; background: url(Image/HFLowFi.jpg); background-size: cover; margin-top: 10px; margin-bottom: 10px;">
</div>

<div class = "projectSectitle">Med-Fi Prototype(<a class = "paperLink" href = "HFMedFi.pdf">file version</a>)</div>
<div class="projectImageD" style = "width: 716px; height: 538px; background: url(Image/HFMedFi.jpg); background-size: cover; margin-top: 10px; margin-bottom: 10px;">
</div>

<div class = "projectSectitle">Hi-Fi Prototype(<a class = "paperLink" href = "app-release.apk">APK Download</a>)</div>
<div class="projectImageD" style = "width: 716px; height: 538px; background: url(Image/HFHiFi.jpg); background-size: cover; margin-top: 10px; margin-bottom: 10px;">
</div>
<div class = "projectParagraph" style= "margin-bottom:10px;">Demo Video</div>
<video width="640" height="100%" controls>
    <source src="Video/HFDemo.mp4" type="video/mp4">
</video>
<div class = "projectBottom"><br><br><br><br></div>
