<div ng-click="goBack()" class = "goBackButton"> <i class="fa fa-arrow-left" style=""></i> See More Projects</div>
<div class = "projectContent">
<div class = "projectTitle">MentTruIns</div>
<div class = "projectSubtitle">Can You Hear The RIGHT One?</div>
<div class="projectImageD" style = "width: 360px; height: 360px; background: url(Image/M.jpg); background-size: cover; margin-top: 10px; margin-bottom: 10px;">
</div>

<div class = "projectParagraph">Noise is increasing in the environment. It is becoming necessary to perform many cognitive tasks in conditions where noise is either masking critical auditory components or contributing significantly as an attentional distraction. MentTruIns is a VR puzzle game to improve your attention through sound localization. In the game, there are five musical instruments on the stage, including piano, guitar, saxophone, cello, and synthesizer. There is only one instrument playing a song of its own original sound, while the others are playing a sound not of its own. For example, maybe the cello is playing a cello song, and the piano is playing a guitar sound. Then the cello is the RIGHT one. Maybe. The player is puting on a VR headset, and turning around on the stage. Using ITD and ILD in his/her auditory system, the player is trying to focus and find the RIGHT one. Actually, this is a super hard game, very few of my friends can make it.</div>
</div>

<div class = "projectBottom"><br><br><br><br></div>
