<div ng-click="goBack()" class = "goBackButton"> <i class="fa fa-arrow-left" style=""></i> See More Projects</div>
<div class = "projectContent">
<div class = "projectTitle">PalazzoTour</div>
<div class = "projectSubtitle">A Music And Architecture Tour Guide for Plazzo Altemp Museum</div>

<div class = "projectParagraph">
Professor Jonathan Berger, professor Jonathan Abel, and I are invited to produce an on-line exhibition by Palazzo Altemp Museum,  which is a wonderful museum of Roman sculpture in a Renaissance palace in the heart of the city. One idea they floated is to produce a free down-loadable app for museum visitors that would offer them a musical tour of the music and acoustics we are producing, which would also be rich in visual images. The idea is to have people listen to the historic music that was created for particular spaces in the museum with no reverberation, and then heard through the (pre-recorded) impulse response simulating the acoustics of these spaces. The App is supposed to be released in November 2017. We are bringing 16th century back!
</div>
<div class = "projectSectitle">Learning from present museum Apps</div>
<div class = "projectSubsectitle" style = "text-align: justify;">Few Apps  are providing sound sources.</div>
<div class = "projectParagraph">There are few apps providing sound sources. But the app of the Museum of American Natural History provides pretty impressive and interactive sounds of animals' howling.</div>
<div class = "projectSubsectitle" style = "text-align: justify;">An intuitive floor plan would be attractive.</div>
<div class = "projectParagraph">Some apps, such as Hermitage Museum, MOMA, give an intuitive map to direct visitors.Implementing an interactive map for our App will give more intuitive instructions to visitors of where they are and what they can listen to.</div>
<div class = "projectSectitle">Prototype version 0.1</div>
<div class= "projectContainer" style = "white-space: nowrap;">
<div class="projectImageD" style = "display: inline-block; width: 375px; height: 667px; background: url(Image/PTP1.png); background-size: cover; margin-top: 10px; margin-bottom: 10px;">
</div>

<div class="projectImageD" style = "display: inline-block; width: 375px; height: 667px; background: url(Image/PTP2.png); background-size: cover; margin-top: 10px; margin-bottom: 10px;">
</div>
</div>

<div class= "projectContainer" style = "white-space: nowrap; margin-right: 20px;">
<div class="projectImageD" style = "display: inline-block; width: 375px; height: 667px; background: url(Image/PTP3.png); background-size: cover; margin-top: 10px; margin-bottom: 10px;">
</div>
<div class="projectImageD" style = "display: inline-block; width: 375px; height: 667px; background: url(Image/PTP4.png); background-size: cover; margin-top: 10px; margin-bottom: 10px;">
</div>
</div>
<div class= "projectContainer" style = "white-space: nowrap;">

<div style = "display: inline-block;">
<div class = "projectSectitle">Prototype version 0.2</div>
<video width="375" height="667" controls>
    <source src="Video/PT2.mov" type="video/mp4">
</video>
</div>

<div  style = "display: inline-block;">
<div class = "projectSectitle">Prototype version 0.3</div>
<video width="375" height="667" controls>
    <source src="Video/PT3.mov" type="video/mp4">
</video>
</div>

</div>

<div class= "projectContainer" style = "white-space: nowrap;">

<div style = "display: inline-block;">
<div class = "projectSectitle">Prototype version 0.4</div>
<video width="375" height="667" controls>
    <source src="Video/PT4.mov" type="video/mp4">
</video>
</div>

<div  style = "display: inline-block;">
<div class = "projectSectitle">Prototype version 0.5</div>
<video width="375" height="667" controls>
    <source src="Video/PT5.mp4" type="video/mp4">
</video>
</div>

</div>

