<div class="portfolioHeader"  id = 'top'>Hear. See. Touch.</div>
<div class="portfolioSubheader">Hear</div>
<div class = "portfolioContainer">
  <md-card class = "portfolio">

    <img ng-src = "image/HK.jpg" alt = "photo.file_name" class="portfolioImage">

      <md-card-content>
            <div class="portfolioText" layout="column">
              <div class = "portfolioName">Hovering Kanariya</div>
              <div class = "portfolioSubname">3D Sound System In The Car</div>
            </div>
            <div ng-click="viewProjectHK()" class = "portfolioviewButton">Details</div>
      </md-card-content>
  </md-card>

  <md-card class = "portfolio">

    <img ng-src = "image/RoTH.jpg" alt = "photo.file_name" class="portfolioImage">

      <md-card-content>
            <div class="portfolioText" layout="column">
              <div class = "portfolioName">Resonance of The Heart</div>
              <div class = "portfolioSubname">Embodied Sonic Meditation In Mixed Reality</div>
            </div>
            <div ng-click="viewProjectRoTH()" class = "portfolioviewButton">Details</div>
      </md-card-content>
  </md-card>

    <md-card class = "portfolio">
    <img ng-src = "image/GNODC.jpg" alt = "photo.file_name" class="portfolioImage">
      <md-card-content>
            <div class="portfolioText" layout="column">
              <div class = "portfolioName">GNODC</div>
              <div class = "portfolioSubname">Global Net Orchestra Drum Circle</div>
            </div>
            <div ng-click="viewProjectGNODC()" class = "portfolioviewButton">Details</div>
      </md-card-content>
  </md-card>

    <md-card class = "portfolio">
    <img ng-src = "image/M.jpg" alt = "photo.file_name" class="portfolioImage">
      <md-card-content>
            <div class="portfolioText" layout="column">
              <div class = "portfolioName">MentTruIns</div>
              <div class = "portfolioSubname">Can You Hear The Right One?</div>
            </div>
            <div ng-click="viewProjectM()" class = "portfolioviewButton">Details</div>
      </md-card-content>
  </md-card>
</div>

<div class="portfolioSubheader">See</div>
<div class = "portfolioContainer">
 <md-card class = "portfolio">
    <img ng-src = "image/P.jpg" alt = "photo.file_name" class="portfolioImage">
      <md-card-content>
            <div class="portfolioText" layout="column">
              <div class = "portfolioName">PiARno</div>
              <div class = "portfolioSubname">An Interactive Piano Educational Game In Mixed Reality</div>
            </div>
            <div ng-click="viewProjectP()" class = "portfolioviewButton">Details</div>
      </md-card-content>
  </md-card>

          <md-card class = "portfolio">
    <img ng-src = "image/PPAP.jpg" alt = "photo.file_name" class="portfolioImage">
      <md-card-content>
            <div class="portfolioText" layout="column">
              <div class = "portfolioName">ARGH! PPAP</div>
              <div class = "portfolioSubname">A Voice-Control Virtual Reality Game</div>
            </div>
            <div ng-click="viewProjectPPAP()" class = "portfolioviewButton">Details</div>
      </md-card-content>
  </md-card>

    <!-- <md-card class = "portfolio">
    <img ng-src = "image/CSS.jpg" alt = "photo.file_name" class="portfolioImage">
      <md-card-content>
            <div class="portfolioText" layout="column">
              <div class = "portfolioName">CSS Fantasy</div>
            </div>
            <div ng-click="viewProjectCSS()" class = "portfolioviewButton">Details</div>
      </md-card-content>
  </md-card> -->

    <md-card class = "portfolio">
    <img ng-src = "image/TDDOES.jpg" alt = "photo.file_name" class="portfolioImage">
      <md-card-content>
            <div class="portfolioText" layout="column">
              <div class = "portfolioName">The Design And Development of An Online Education System</div>
            </div>
            <div ng-click="viewProjectTDDOES()" class = "portfolioviewButton">Details</div>
      </md-card-content>
  </md-card>
</div>

<div class= "portfolioSubheader">Touch</div>
<div class = "portfolioContainer">
  
  <md-card class = "portfolio">
    <img ng-src = "image/C.jpg" alt = "photo.file_name" class="portfolioImage">
      <md-card-content>
            <div class="portfolioText" layout="column">
              <div class = "portfolioName">Calmmuter</div>
              <div class = "portfolioSubname">Calm Commuters by Deep Breathing</div>
            </div>
            <div ng-click="viewProjectC()" class = "portfolioviewButton">Details</div>
      </md-card-content>
  </md-card>


        <md-card class = "portfolio">
    <img ng-src = "image/PT.jpg" alt = "photo.file_name" class="portfolioImage">
      <md-card-content>
            <div class="portfolioText" layout="column">
              <div class = "portfolioName">PalazzoTour</div>
              <div class = "portfolioSubname">A Music And Architecture Tour Guide for Palazzo Altemp Museum</div>
            </div>
            <div ng-click="viewProjectPT()" class = "portfolioviewButton">Details</div>
      </md-card-content>
  </md-card>

  <md-card class = "portfolio">
    <img ng-src = "image/HF.jpg" alt = "photo.file_name" class="portfolioImage">
      <md-card-content>
            <div class="portfolioText" layout="column">
              <div class = "portfolioName">HiFive</div>
              <div class = "portfolioSubname">Helping Nerds Get Out More</div>
            </div>
            <div ng-click="viewProjectHF()" class = "portfolioviewButton">Details</div>
      </md-card-content>
  </md-card>

    <md-card class = "portfolio">
    <img ng-src = "image/EJ.jpg" alt = "photo.file_name" class="portfolioImage">
      <md-card-content>
            <div class="portfolioText" layout="column">
              <div class = "portfolioName">ECG Jukebeat</div>
              <div class = "portfolioSubname">Focus? Turn The Beat On!</div>
            </div>
            <div ng-click="viewProjectEJ()" class = "portfolioviewButton">Details</div>
     </md-card-content>
  </md-card>
</div>
  