<div ng-click="goBack()" class = "goBackButton"> <i class="fa fa-arrow-left" style=""></i> See More Projects</div>
<div class = "projectContent">
<div class = "projectTitle">The Design And Development of An Online Education System</div>

<div class = "projectParagraph">
The continuous development of information technology in learning has been promoting the integration and development of internet industry and education sector. On-line-education system, as the inevitable trend of the development of education sector in the internet era, has never failed to get enough attention. 
<br><br>
In this project, the development of on-line-education system based on learning management system is a simple, flexible, and efficient way, which also provides live and video on demand features for users. The overall system design is based on an open source project, Moodle. The method to design and implement live and video on demand(VOD) features, which is a secondary development of the system, is using the WebRTC media server, Kurento. This is my bachelor graduation project, as part of the Intel China OES project.
</div>
<div class="projectImageD" style = "width: 640px; height: 360px; background: url(Image/OESSystem.jpg); background-size: contain;">
  <div style = "color: black; font-size: 14px; top: 0px; left: 20px;">OES System Design</div>
</div>

<div class = "projectSectitle">Main Module -- Live Module</div>
<div class="projectImageD" style = "width: 640px; height: 360px; background: url(Image/OESLiveSystem.jpg); background-size: contain;">
  <div style = "color: black; font-size: 14px; top: 0px; left: 20px;">Live Module Design</div>
</div>

<div class="projectImageD" style = "width: 640px; height: 360px; background: url(Image/OESLiveStreamLine.jpg); background-size: contain;">
  <div style = "color: black; font-size: 14px; top: 0px; left: 20px;">Live Module Streamline</div>
</div>
<div class = "projectSectitle">Main Module -- VOD Module</div>
<div class="projectImageD" style = "width: 640px; height: 360px; background: url(Image/OESVODSystem.jpg); background-size: contain;">
  <div style = "color: black; font-size: 14px; top: 0px; left: 20px;">VOD Module Design</div>
</div>

<div class="projectImageD" style = "width: 640px; height: 360px; background: url(Image/OESVODMessageInteraction.jpg); background-size: contain;">
  <div style = "color: black; font-size: 14px; top: 0px; left: 20px;">VOD Module Message Interaction</div>
</div>
<div class = "projectSectitle">Showcase</div>
<div class="projectImageD" style = "width: 640px; height: 480px; background: url(Image/OESLive.jpg); background-size: contain;">
  <div style = "color: black; font-size: 14px; top: 60px; left: 20px;">Live Module Test Scene(Left is teacher's interface, right is students')</div>
</div>

<div class="projectImageD" style = "width: 640px; height: 394px; background: url(Image/OESVOD.png); background-size: contain;">
  <div style = "font-size: 14px; top: 0px; left: 20px;">VOD Module Test Scene</div>
</div>

<div class = "projectSectitle">Related Article</div>
<a class = "paperLink" href = "https://www.intel.cn/content/www/cn/zh/education/one-to-one-digital-teaching-growup.html">Intel OES has big impact on Chinese Teachers</a>
</div>
<div class = "projectBottom"><br><br><br><br></div>

