<div class = "about" id = 'top'>
  <div class = "aboutImage">
    <img class = "aboutImage" ng-src = "image/aboutYJZ.jpg" alt = "aboutYJZ.jpg">
  </div>
  <div class = "aboutParagraph">
    <p class = "aboutParagraph">Yijun(they call him Lawrence at Stanford) Zhou is a designer, researcher, developer and computer musician. Right now, he is a master student at <a class = "link" href = "https://ccrma.stanford.edu">Stanford's Center for Computer Research in Music and Acoustics(CCRMA)</a>, advised by <a class = "link" href = "http://chrischafe.net/">Chris Chafe</a>. His research is focused on Human-Computer Interaction, User Interface and Experience, Mixed Reality, Computer-Based Music Expression, and Cognitive Science in Music Playing. Previously he recieved his bachelor degree in Computer Science at Beijing University of Posts and Telecommunicaitons(BUPT), China. You can reach him by sending email to yjz AT ccrma.stanford.edu.
    </p>
    <p class = "aboutParagraph">Seriously, daydream is the life goal of Lawrence, not only the theme of this page. He is trying to dream all the day to make it through. If you are willing to witness a daydream dejavu, please click Tour on the right.
    </p>
  </div>
</div>